## Lägg ihop strängar till varandra

Additions-operatorn fungerar även för stringar, och Python tolkar en addition av strängar på följande sätt

In [10]:
firstname = 'Ali'
lastname = 'Leylani'

# noterar att vi här adderar tre strängar: strängen firstname, strängen mellanslag och strängen lastname
fullname = firstname + ' ' + lastname 

print(fullname)

Ali Leylani

---

## Text på flera rader

Vill vi skriva text på flera rader behöver vi markera detta för Python, och det gör vi genom att inkludera hela texten inom '''. 

För vanliga one-line strängar brukar ju vi inkludera texten i en enda '.

In [11]:
firstname = 'Ali'
lastname = 'Leylani'
age = 33
profession = 'AI Expert'
adress = 'Norra Parkpromenaden 23'

fullname = 'Ali' + ' ' + 'Leylani'

# f-string på flera rader
personal_details = f"""
Namn:       {fullname}
Ålder:      {age}
Profession: {profession}
Adress:     {adress}
"""

print(personal_details)

Namn:       Ali Leylani
Ålder:      33
Profession: AI Expert
Adress:     Norra Parkpromenaden 23

---
### zip()-funktionen

Ibland vill man 'klistra ihop' elementen ur två listor, i den ordningen de dyker upp i respektive lista. Det kan vi göra på följande sätt

In [15]:
meny = ["Chili sin carne", "Nudlar", "Pokebowl", "Pannkakor", "Tacos"]
days = ["Må", "Ti", "On", "To", "Fr"]

menu = "Veckomeny\n" # print-funktionen skriver ut en extra ny rad när den ser \n i en sträng

for day, food in zip(days, meny):         
    menu += f'{day}: {food} \n'            # lägg märkte till att vi adderar detta värde till vår sträng menu, och att ytterligare en ny rad \n inkluderas efter varje addition

print(menu)

Veckomeny
Må: Chili sin carne
Ti: Nudlar
On: Pokebowl
To: Pannkakor
Fr: Tacos

---
## Indexing

- a string is an array of bytes that represents unicode characters
- use the indexing operator [] to access elements
- combine with slice operator : to get a section in the string

Precis som med listor, kan vi komma åt individuella karaktärer i en sträng genom att använda dess index (vilket motsvarar positionen i strängen)

In [24]:
# Notera att vi måste vara försiktiga med vilka citat-tecken vi använder. I vår text använder vi redan ', och måste därför använda " som yttre citattecken

quote = "!False - it's funny because it's True"   # kolla hur vi använt citat-tecken här!

print(f"quote[0]               : {quote[0]}")
print(f"quote[5:10]            : {quote[5:10]}")                # [start:end-1]
print(f"quote[-4]              : {quote[-4]}")                  # räkna index baklänges
print(f"quote[-4:]             : {quote[-4:]}")                 # slica från -4 till end
print(f"Backwards quote[::-1]  : {quote[::-1]}")                # reversing

quote[0]               : !
quote[5:10]            : e - i
quote[-4]              : T
quote[-4:]             : True
Backwards quote[::-1]  : eurT s'ti esuaceb ynnuf s'ti - eslaF!

---
## split()

split-funktionen är grymt händig när man vill dela upp sin sträng baserat på ett visst mönster.

Exempel:

Vi vi dela upp vår sträng vid varje kommatecken ,

In [26]:
subjects = 'Math,biology,  cHeMistry  ,  PrOgramming      '

# vi väljer här att splitt strängen på kommateckan, men du kan välja att splitta på vad du vill
subjects_splitted = subjects.split(",")

print(subjects_splitted)

['Math', 'biology', '  cHeMistry  ', '  PrOgramming      ']

Observera noga resultatet ovan! Vi fick en lista där varje element är resultatet från att ha delat vår sträng på kommatecken

## En applikation

Låt användaren ange ett par tal, som vi sedan vill beräkna medelvärdet av

**Medelvärde av input**

In [31]:
# notera att vi omedelbart delar upp vår input på mellanslag, således assignas variabeln numbers till en lista

numbers = input("Ange några tal separerade med mellanslag: ").split(' ')

print(f'Efter vår split assignades variabeln numbers följande lista: {numbers}')

# vi vet att input från användaren kommer ha datatypen string, låt oss därför skapa en ny lista där vi omvandlar inputen till float

numbers_as_float = [float(number) for number in numbers]

summa = 0                                        # här kommer vi att summera ihop alla tal användaren angett

for number in numbers_as_float:                  # loopa genom alla talen i listan numbers_as_float
    summa += number                              # och addera de till summa

mean = sum/len(numbers)
print(f'Medelvärdet av dina tal är {mean}')

Efter vår split assignades variabeln numbers följande lista: ['5', '10', '30']
Medelvärdet av dina tal är 5.0

---
## String methods

There are many string methods available, reference [w3schools - string methods](https://www.w3schools.com/python/python_strings_methods.asp) when you need a specific method